html {
    color: rgba(255, 255, 255, 0.64);
    font-family: "Geist";
}

body {
    background: hsl(216, 8%, 12%);
    margin: 0;
}

.transmission {
    max-width: 40rem;
    margin: 5rem auto;
    position: relative;
}

h1 {
    font-weight: normal;
}

.title {
    font-size: 2rem;
    color: #7b7c87;
    text-align: center;
    margin: 0px 0px 3rem;
    line-height: 1.5;
}

.question {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.81);
    padding: 0rem 0.5rem;
}

.answer {
    font-size: 1rem;
    color: #a3a3a3;
    padding: 1rem 0.5rem 0rem;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.answer ul {
    list-style-type: disc;
    color: rgba(255, 255, 255, 0.81);
    padding: 0rem 0em 0em 1.25rem;
    line-height: 2rem;
    margin-top: .5rem;
}

.answer ul li::marker {
    color: #a3a3a3;
}

.divider {
    border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.footer {
    font-size: 0.9rem;
    color: #a3a3a3;
    text-align: left;
    line-height: 1.5;
    margin: 1rem 0.5rem 0rem;
}

.code {
    font-family: "Geist Mono";
}

.highlight {
    color: rgb(232, 225, 255);
}
