html {
    color: #DCDCDC;
}

body {
    margin: 0px;
    background-color: #000;
}

.transmission {
    color: #e5d5ff;
    font-size: 1em;
    font-family: Monaco;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.hint {
    color: #737482;
}
